# ========================
# Git e Docker
# ========================
.git/
.gitignore
.dockerignore
Dockerfile.api
docker-compose.yml

# ========================
# Variáveis de Ambiente
# ========================
# O .env não deve ir para a imagem, o docker-compose injeta ele em tempo de execução
.env
.env.*

# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# ========================
# Editores e OS
# ========================
*.swp
*.swo
.DS_Store
